[submodule "themes/docsy/assets/vendor/bootstrap"]
	path = themes/docsy/assets/vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
	branch = v4-dev
[submodule "themes/docsy/assets/vendor/Font-Awesome"]
	path = themes/docsy/assets/vendor/Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
